<div class="home-banner">
  <div class="container">
    <div class="banner-content">
      <div class="left-banner-content">
        <img src="headshot.png" id="banner-avatar">
      </div>
      <div class="right-banner-content">
        <h1>
          <span id="banner-typed-name" style="white-space:pre"></span>
        </h1>
      </div>
    </div>
  </div>
</div>
